*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.car{
    height:80px;
    width:150px;
    color:yellow;
    background-color: red;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    position:absolute;
    top:300px;
    animation:car 15s 0s infinite normal;
    animation-timing-function: linear;
}
@keyframes car{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(1000px);
    }
}
.windows{
    width:150px;
    height:60px;
    display:flex;
    justify-content: space-between;
    padding: 20px;
}
.left-window{
    height: 40px;
    width:40px;
    border-top-left-radius: 40px;
    background-color: rgb(230, 220, 220);
}
.right-window{
    height:40px;
    width:40px;
    border-top-right-radius: 50px;
    background-color: rgb(230, 220, 220);
}
.wheels{
    height:50px;
    width:130px; 
    display:flex;
    justify-content: space-between;
    position:absolute;
    top:60px;
    animation:wheel 15s 0s infinite normal;
    animation-timing-function: linear;
}
@keyframes wheel{
    from{
        transform:translate(0px);
    
    }
    to{
        transform:rotateX(1000px); 
        
    }
}
.left-wheel{
    height:50px;
    width:50px;
    border-radius: 30px;
    background-color: black;
    animation:wheels 15s 0s infinite normal;
    animation-timing-function: linear;
}
.right-wheel{
    height:50px;
    width:50px;
    border-radius: 30px;
    background-color: black;
    animation:wheels 15s 0s infinite normal;
    animation-timing-function: linear;
}
@keyframes wheels{
    from{
        transform:rotate(0deg);
    
    }
    to{
        transform:rotate(3600deg); 
    }
}