.main{
    margin-left:250px;
    height: 800px;
    width:800px;
    background-color:red;
    border:solid 30px grey;
}
.row1{
    height: 100px;
    background-color: blue;
}
.row2{
    height: 100px;
    background-color: purple;
}
.black{
    height: 100px;
    width:100px;
    background-color: black;
    width:100px;
    float:left;
}
.white{
    height: 100px;
    width:100px;
    background-color:white;
    width:100px;
    float:left;
}
.whicons{
    color:black;
    padding:25px;
    font-size: 50px;
    text-align: center;
}
.blicons{
    color:white;
    padding:25px;
    font-size: 50px;
    text-align: center;
}