*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.intro{
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    background-color:rgb(0, 0, 0);
    color:snow
}
.kitchen{
    height:800px;
    background:url(parallax-img/2150771951.jpg)  no-repeat center/cover fixed;
}
.scene1{
    height: 200px;
    background:url(parallax-img/)  no-repeat center/cover;
}
.scene2{
    height:200px;
    background:url(parallax-img/)  no-repeat center/cover;
}